<md-card *ngIf="mode=='login'">
  <md-card-title>Вхід для зареестрованих мешканців</md-card-title>
  <md-card-content>
    <form class="login-form" >
       <md-input-container class="full-width">
          <input type="email" name="email" mdInput [disabled]='processing'  [(ngModel)]='email' placeholder="Електронна адреса (e-mail) для входу">
      </md-input-container>
       <md-input-container class="full-width">
          <input type="password" name="password" [(ngModel)]='password' [disabled]='processing' mdInput placeholder="Пароль">
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions>
        <div class="error message" *ngIf='errorMessage'> <md-icon color='warn'>error</md-icon> Error: {{errorMessage}}</div>

    <button md-button md-raised-button color="primary"  (click)="login()" [disabled]='processing'>Увійти</button>
    <button md-button (click)="mode='register'" [disabled]='processing'>Зарееструвати нового мешканця</button>

  </md-card-actions>
</md-card>

<md-card *ngIf="mode=='register'">
  <md-card-title>Реестрація нового мешканця</md-card-title>
  <md-card-content>
    <form class="login-form">
      <md-input-container class="full-width">
          <input type="email" name="email" [disabled]='processing'  [(ngModel)]='email' mdInput placeholder="Електронна адреса (e-mail) для входу">
      </md-input-container>

       <md-input-container class="full-width">
          <input type="number" [(ngModel)]='apartment' [disabled]='processing' name="apartment" min=1 max=999 mdInput placeholder="Номер Квартири">
      </md-input-container>
       <md-input-container class="full-width">
          <input type="text" name="code" [(ngModel)]='code' [disabled]='processing' mdInput placeholder="Код реестрації">
          <md-icon mdTooltip="Ваш пароль ви можете знайти..." mdSuffix>help</md-icon>
      </md-input-container>
      <md-input-container class="full-width">
          <input type="password" name="password" [(ngModel)]='password' [disabled]='processing' mdInput placeholder="Новий пароль">
      </md-input-container>

    </form>
  </md-card-content>
  <md-card-actions>
    <div class="error message" *ngIf='errorMessage'> <md-icon color='warn'>error</md-icon> Error: {{errorMessage}}</div>

    <button md-button md-raised-button (click)="register()" [disabled]='processing' color="primary">Зарееструвати</button>
    <button md-button [disabled]='processing' (click)="mode='login'">Назад</button>
        <span *ngIf="processing"><md-spinner></md-spinner> обробка...</span>

  </md-card-actions>

</md-card>